doctype html
html(lang="en")
  head
    title Spelunky 2 RTA tracker - Join Room
    link(rel="stylesheet", href="/main.css")
    style(type="text/css").
      #container {
        padding: 15px;
      }
  body
    #container
      h4 Connected Room: !{roomCode||"None"}
      form(method='POST')
        div
          input(name='roomCode', type='text', placeholder='Room Code')
        div
          input(type='submit', value='Join')

