* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}
body {
  background-color: #222222;
  color: #eee;
  font-family: 'Segoe UI', sans-serif;
}
#container {
  position: relative;
}
#journal {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 166px;
}
.header {
  width: 160px;
  float: left;
}
.header .name {
  width: 80px;
  font-size: 0.8em;
  display: inline-block;
}
.break {
  flex-basis: 100%;
  width: 100%;
  order: 2;
}
.item {
  width: 32px;
  height: 32px;
  order: 1;
}
#places .item, .frogtrap {
  width: 64px;
}
.totemtrap, .liontrap, .slidingwall, .stickytrap {
  height: 64px;
  order: 2;
}
.giantclam, .boulder, .giantcrushtrap, .logtrap, .bonedrop, .yama, .tusk, .waddler, .ammit, .anubis, .anubis2, .apep, .celestialjelly, .eggplantminister, .ghost, .giantfly, .giantspider, .goliathfrog, .greathumphead, .hundun, .kingu, .lahamu, .lamassu, .lavamander, .mechrider, .mummy, .olmec, .osiris, .pangxie, .queenbee, .quillback, .tiamat, .yetiking, .yetiqueen {
  width: 64px;
  height: 64px;
  order: 3;
}
